@import '../../02_Styles/variables';

.addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;

  & input[type='text'] {
    caret-color: $primaryColor;
  }

  & label {
    margin: 0 10px;
  }

  & input[type='button'] {
    margin-left: 10px;
    background: $primaryColor;
    color: #fff;
    cursor: pointer;
  }
}